<div class="col-sm-12">
<div class="bs-docs-header" id="content">
</div>
</div>
<h2>転倒転落アセスメントスコアid: <%= @tentou.id %> の編集ページ</h2>

<%= render 'form', tentou: @tentou %>

<%= link_to '一覧に戻る', tentous_path %>