    <div class="sidebar-nav affix" role="complementary">

<p>Sidebar</p>
<div class="btn-group-vertical" role="group" aria-label="...">
  <button type="button" class="btn btn-default">1234567890</button>
  <button type="button" class="btn btn-default">1234567890</button>
  <button type="button" class="btn btn-default">1234567890</button>
  <button type="button" class="btn btn-default">1234567890</button>
  <button type="button" class="btn btn-default">1234567890</button>
  <button type="button" class="btn btn-default">1234567890</button>
</div>

</div>